<div class="container">
  <div class="row">
    <h1>Your Bookings</h1>
    <% @bookings.each do |booking| %>
    <div class="col-8 my-3 ">
      <div class="card-product">
        <li class="list-group-item">
        <div class="d-flex justify-content-between">
        <div>
          <div>
            Cuisine selection: <%= booking.offer.cuisine %>
          </div>
          <div>
            Date of service: <%= booking.service_date %>
          </div>
          <div>
            Cuisine selection: <%= booking.offer.cuisine %>
          </div>
          </div>
          <div>
            Your Approval Status:
            <%= booking.status ? "Approved" : "Pending" %>
          </div>
      </div>
    </div>
    </li>
    <% end %>
    <%= link_to "Back to Home", root_path, class: "btn btn-primary my-3"%>
  </div>


</div>
