<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mx-3">
  <%= link_to root_path, class: "navbar-brand" do %>
  <strong>CHEF ON <span style="color: #F88E28">DEMAND</span></strong>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown dropstart">
          <%= image_tag "https://images.unsplash.com/photo-1614644147724-2d4785d69962?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDh8fGhlYWRzaG90fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { 'bs-toggle': "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu">
            <%= link_to "Home", root_path, class: "dropdown-item" %>
            <%= link_to "My Meals", bookings_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            <% if current_user.user_type == "chef" %>
              <p class="my-1 mt-2 dropdown-item border-top">Chef Links</p>
              <%= link_to "Make a New Offering", new_offer_path, class: "dropdown-item" %>
              <%= link_to "My Bookings", chefs_bookings_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>
